.logo {
  margin-right: 93px;
  text-decoration: none;
  
  font-family: var(--secondary-font);
  @include fonts(26px, 31px, 700);

  color: var(--color-bg-black);

  &--white {
    display: block;
    padding-bottom: 20px;
    color: var(--color-text-white);
    margin-right: 0;
  }
}

.logo__item {
  color: var(--color-focus);
}
